img {
    width: 200px;
    height: auto;
}

header {
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0; /* Positions the header at the top */
    width: 100%; /* Ensures the header spans the full width */
    z-index: 1000;
    background-color: white;
}

nav {
    display: flex;
    justify-content: center;
    width: 48%;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #343a40;
    font-weight: bold;
}


main {
    margin-top: 100px;
    margin-bottom: 40px;
}

.recipe-flexcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    width: 48%;
    margin: 0 auto;
}

.recipe-flexcontainer>a {
    text-decoration: none;
    color: black;
}

.recipe-flexcontainer>a>div {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.hero {
    gap: 30px;
    justify-content: flex-start;
    width: 48%;
    margin: 0 auto;

}

footer {
    text-align: center;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.footer-flexcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
}

.footer-flexcontainer ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}   

/* Mobile styles */
@media (max-width: 768px) {
    header {
        position: static;
    }
    nav input[type="text"] {
        display: none !important; /* Hide the search box */
    }
}

