.recipeIngredient-flexcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
}

.recipeIngredient-flexcontainer>div {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.ingredients {
    flex: 1 1 auto; /* Allow the div to grow and shrink as needed */
    max-width: 31%; /* Set the maximum width */
}

.large-image {
    width: 450px;
    height: auto;
}

@media (max-width: 400px) {
    .foodImage {
        display: none;
    }
}