.recipeIngredient-flexcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    width: 48%;
    margin: 0 auto;
}

.ingredients {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    
}

.large-image {
    border: 1px solid #ccc;
    border-radius: 10px;
    /*padding: 10px;*/
}

.instructions {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.ingredientAndPic-flexcontainer {
    display: flex; /* Use flexbox layout */
    gap: 20px; /* Optional: Add some space between the divs */
}

.large-image {
    width: 450px;
    height: auto;
}

@media (max-width: 900px) {
    .foodImage {
        display: none;
    }
}